@use '../../util/scssVariables.style.scss' as constants;


.card {
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: transparent;
    text-align: center;
    color: constants.$blue-button;
    transition: transform .1s ease-in;
    padding: .1rem;
    justify-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.selected {
    opacity: 0;
}


.card:hover {
    transform: translateY(-4px);
}