@use '../util/scssVariables.style.scss' as variables;

.home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    color: variables.$text-base-color;
    font-family: "Inter", sans-serif;

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.tittle {
    font-size: 5rem;
    letter-spacing: 2px;
    margin: 5px;
} 